<br>
<br>
<br>
<div class="columns is-mobile is-multiline is-centered">
  <div class="column is-12-mobile is-10-tablet is-8-desktop is-6-widescreen">
    <div class="pizarra-container">
      <p class="numero-a-reconocer">Número a reconocer: <strong>{{ numeroAleatorio }}</strong></p>

      <!-- Canvas con contenedor para control del tamaño -->
      <div class="canvas-wrapper">
        <canvas #canvas id="pizarra"></canvas>
      </div>

      <!-- Botones -->
      <div class="botones">
        <button class="button is-info" (click)="limpiarCanvas()">Limpiar</button>
        <button class="button is-info" (click)="validarCanvas()">Validar Número</button>
      </div>

      <!-- <div class="camera-container">
        <video #video id="video" width="100%" height="auto" autoplay></video>
<canvas #overlay id="overlay" width="100%" height="auto" style="position: absolute; top: 0; left: 0;"></canvas>
<button class="button is-info" (click)="capturarImagen()">Capturar Imagen</button>

      </div> -->

      <div class="file-upload">
        <input type="file" accept="image/*" (change)="onFileSelected($event)" />
        <br>
        <button class="button is-info" (click)="capturarImagen()">Capturar Imagen</button>
      </div>



      

    </div>
  </div>
</div>

